:root {
  --primary-font: Roboto, sans-serif;
  --secondary-font: Raleway, sans-serif;

  --hero-text-color: #ffffff;
  --hero-theme-dark: #2e2f42;

  --body-text-color-dark: #2e2f42;
  --body-text-color-light: #434455;
  --body-theme-light: #ffffff;

  --footer-text-color: #f4f4fd;
  --footer-theme-dark: #2e2f42;
  --accent-color: #404bbf;
  --border-color: #e7e9fc;
}

.body {
  color: var(--body-text-color-light);
  font-family: Roboto, sans-serif;
  background-color: var(--body-theme-light);
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.link {
  text-decoration: none;
}

.container {
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* ========================COMPONENTS===================== */

.section-description {
  text-align: center;
  margin-bottom: 24px;

  color: var(--body-text-color-dark);
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
}

.description-title {
  display: flex;
  flex-direction: column;
  gap: 8px;

  color: var(--body-text-color-dark);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
}

.subtitle {
  color: var(--body-text-color-light);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
}

/* ============================HEADER=============== */
.page-header {
  border-bottom: 1px solid #e7e9fc;
}

.container-header {
  display: flex;
}

.logo:hover,
.logo:focus {
  color: var(--accent-color, #404bbf);
}

.logo-span {
  color: #2e2f42;
}

.logo {
  margin-right: 76px;
  color: var(--iris, #4d5ae5);
  font-size: 18px;
  font-family: Raleway, sans-serif;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
}

.site-nav {
  display: flex;
  align-items: center;
  margin-right: auto;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.32px;
  color: #2e2f42;
}

.menu-link:hover,
.menu-link:focus {
  color: var(--accent-color, #404bbf);
}

.contacts-link {
  display: inline-block;
  list-style: none;
  padding-top: 24px;
  padding-bottom: 24px;
  color: var(--slate, #434455);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.32px;
  font-style: normal;
}

.contacts-link:hover,
.contacts-link:focus {
  color: var(--accent-color, #404bbf);
  font-style: normal;
}

.adress {
  display: flex;
  margin: 0;
  padding: 0;
  gap: 40px;
}

.header-list {
  display: inline-block;
  padding-bottom: 24px;
  padding-top: 24px;
  display: flex;
  align-items: center;
  gap: 40px;
}

.header-link {
  display: block;
  padding: 24px 0;
  font-size: 16px;
  font-weight: 500;
}

/* ========================HERO===================== */

.page-hero {
  background-color: var(--hero-theme-dark);
  padding: 188px 0;
}
.hero-title {
  max-width: 496px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 48px;
  color: var(--hero-text-color);

  text-align: center;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 1.12px;
}

.hero-btn {
  border: none;
  border-radius: 4px;
  padding: 16px 32px;
  margin: 0 auto;
  display: block;
  min-width: 169px;
  height: 56px;

  color: var(--white, #ffffff);
  background: var(--iris, #4d5ae5);
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.64px;
  cursor: pointer;
}

.hero-btn:hover,
.hero-btn:focus {
  background: var(--accent-color, #404bbf);
}

/* ============================================== */

/* ====================about ==============*/

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.future {
  padding: 120px 0;
}

.page-future {
  display: flex;
  gap: 24px;
}

.future-item {
  margin-bottom: 8px;
}

.future-text {
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.gallery-item {
  flex-basis: calc((100% - 3 * 24px) / 4);
}
/* =============work================ */

.work {
  padding-bottom: 120px;
}
.work-item {
  margin-bottom: 72px;
}

.work-card {
  display: flex;
  gap: 24px;
}

.work-image {
  border: 1px solid var(--cornflower, #e7e9fc);
}
.gallery-work {
  flex-basis: calc((100% - 2 * 24px) / 3);
}

/* ==================Employers==================== */

.card {
  padding: 120px 0;
  background-color: var(--cloud, #f4f4fd);
}

.card-title {
  text-align: center;
  margin-bottom: 72px;
}

.section-team {
  display: flex;
  gap: 24px;
}

.card-team {
  text-align: center;
  padding: 32px 16px;
  background: var(--white, #fff);
}

.employeers-wrapper {
}

.employeers {
  margin-bottom: 8px;
}

.imag-team {
  border-radius: 0px 0px 4px 4px;
}

.gallery-items {
  flex-basis: calc((100% - 3 * 24px) / 4);
}

/* =================FOOTER================ */

.page-footer {
  background-color: var(--footer-theme-dark);
  color: var(--footer-text-color);
  padding: 100px 0;
}

.footer-subtitle {
  color: var(--footer-text-color);
  background-color: var(--footer-theme-dark);
  display: flex;
  max-width: 264px;
}

.logo-footer {
  margin-right: 76px;
  color: var(--iris, #4d5ae5);
  font-size: 18px;
  font-family: Raleway, sans-serif;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  display: inline-block;
  margin-bottom: 16px;
}

.footer-span {
  color: #f4f4fd;
}

/* ========================PORTFOLIO====================== */

.portfolio {
  padding: 96px 0 120px 0;
}

.page-portfolio {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}

.card-content {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.list-border {
}

.portfolio-item {
  flex-basis: calc((100% - 2 * 24px) / 3);
}

.projects {
  padding: 32px 16px;
  border: 1px solid var(--border-color);
  border-top: none;
}

.proj-title {
  margin-bottom: 8px;
}

.btn-filter {
  color: var(--iris, #4d5ae5);
  background-color: var(--cloud, #f4f4fd);
  font-family: Roboto, sans-serif;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.64px;
  cursor: pointer;
  border: none;

  padding: 12px 24px;
  border-radius: 4px;
  border: 1px solid var(--border-color);
}

.btn-filter:hover,
.btn-filter:focus {
  color: #ffffff;
  background-color: var(--accent-color, #404bbf);
  border: 1px solid transparent;
}

/* ===============RESET-START============= */

body {
  background-color: var(--body-theme-light);
  font-family: Roboto, sans-serif;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: currentColor;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  font-family: inherit;
  color: inherit;
  cursor: pointer;
}

address {
  font-style: normal;
}

/* ============HEADER======== */
